<div class="row mb-4">
    <div class="btn-group" name="container">
        <button class="btn btn-primary" btnRadio="Unread" (click)="loadMessages(true)" [(ngModel)]="container">
            <fa-icon [icon]="faEnvelope"></fa-icon> Unread
        </button>

        <button class="btn btn-primary" btnRadio="Inbox" (click)="loadMessages(true)" [(ngModel)]="container">
            <fa-icon [icon]="faEnvelopeOpen"></fa-icon> Inbox
        </button>

        <button class="btn btn-primary" btnRadio="Outbox" (click)="loadMessages(true)" [(ngModel)]="container">
            <fa-icon [icon]="faEnvelopePlane"></fa-icon> Outbox
        </button>
    </div>
</div>

<div>

    <div class="row">
        <table class="table table-hover" style="cursor: pointer;">
            <tr>
                <th style="width: 40%;">Message</th>
                <th style="width: 20%;">{{container === "Outbox" ? "To" : "From"}}</th>
                <th style="width: 20%;">{{container === "Outbox" ? "Sent" : "Received"}}</th>
                <th style="width: 20%;"></th>
            </tr>
            <tr [hidden]="!loaded || messages?.length === 0" *ngFor="let message of messages"
                routerLink="{{container === 'Outbox' ? '/members/' + message.recipientUsername : '/members/' + message.senderUsername}}"
                [queryParams]="{tab: 3}">

                <td>{{message.content | slice:0:40}}</td>

                <td>
                    <div *ngIf="container === 'Outbox'">
                        <img src="{{message.recipientPhotoUrl || './assets/user.png'}}"
                            alt="{{message.recipientUsername}}" class="img-circle rounded-circle mr-2">
                        <strong>{{message.recipientUsername | titlecase}}</strong>
                    </div>

                    <div *ngIf="container !== 'Outbox'">
                        <img src="{{message.senderPhotoUrl || './assets/user.png'}}" alt="{{message.senderPhotoUrl}}"
                            class="img-circle rounded-circle mr-2">
                        <strong>{{message.senderUsername | titlecase}}</strong>
                    </div>
                </td>

                <td>{{message.messageSent | timeago}}</td>

                <td>
                    <button class="btn btn-danger">
                        <fa-icon [icon]="faTrash"></fa-icon>
                    </button>
                </td>
            </tr>
            <tr [hidden]="!loaded || messages?.length > 0">
                <td colspan="4" class="text-center">No messages</td>
            </tr>
        </table>
    </div>

    <div class="d-flex justify-content-center" *ngIf="pagination && loaded">
        <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
            [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;"
            nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
        </pagination>
    </div>
</div>